*{
    font-family: 'Lato', sans-serif;
    margin:0;
}
.text-gap{
    margin-bottom: 20px;
}
span{
    color: #e55473;
}
button{
    padding: 15px 25px;
    background-color: #e55473;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

/* Banner */
.banner{
    background-color: #e5547327;
    padding: 30px 30px 0 150px;
    display: flex;
    align-items: center;
    gap: 100px;
    margin-bottom: 90px;
}
#banner-title{
    font-size: 55px;
    font-weight: 700;
}
.banner > img{
    width: 450px;
}

/* Featured Section(bonus) */
#bonus-sec{
    text-align: center;
    margin: 0 180px 90px;
}
#bonus-sec > figure > div > img{
    border-radius: 200px 200px 0 0;
    width: 230px;
    margin: 10px;
}
#img1{
    padding: 80px 45px 0 45px;
}
#img2{
    padding: 130px 40px 35px;
}
#img3{
    padding: 50px 45px 0 45px;
}
figcaption{
    text-decoration: underline;
}

/* Hot Deals Section */
#deals-sec{
    background-color: #e5547315;
    display: flex;
    padding: 50px 50px 50px 350px;
    text-align: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 90px;
}
#deals-sec > div > img{
    width: 220px;
}

/* Instagram Section */
#insta-sec{
    text-align: center;
    margin-bottom: 90px;
}
#insta-sec > div > img{
    width: 240px;
    margin-right: 10px;
}

/* Email section */
#email-sec{
    text-align: center; 
    padding: 100px;
    background-image: url(./assets/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-size:contain;
    margin:0 180px 90px 165px;
}
input{
    padding: 14px 200px 14px 10px;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
}

/* New Section(bonus) */
#feedback-sec{
    text-align: center;
    margin:0 160px 90px;
    background-color: #477d1128;
    border-radius: 10px;
    padding: 50px;
}

/* Footer */
footer{
    color: #ffffff;
    background-color: black;
    text-align: center;
    padding: 100px;
}
footer small{
    color: grey;
}