*{
    font-family: 'Lato', sans-serif;
    margin: 0%;
    margin-bottom: 20px;
}
span{
    color: #e55473;
}

/* Footer */
footer div{
    color: #ffffff;
    background-color: black;
    text-align: center;
    padding: 100px;
}
footer div small{
    color: grey;
}